@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

* {
    box-sizing: border-box;
}
  
body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Calligraffitti', cursive;
    background: #e4ffd1;
}
  
$somon: #F0BE99;
$somon-d: #EE927D;
$blue-d: #dbb8d1;
$blue-l: #fce6f4;
$blue: #ffe5f6;

.wrapper {
position: relative;
//filter: drop-shadow(1px 0px 0px darken($somon, 10)) drop-shadow(0px 1px 0px darken($somon, 10)) drop-shadow(0px -1px 0px darken($somon, 10)) drop-shadow(-1px 0px 0px darken($somon, 10));
transform: translatey(-30%);
}

.head {
width: 144px;
height: 163px;
border-radius: 100px;
background: $somon;
}

.ear-l,
.ear-r {
width: 37px;
height: 37px;
border-radius: 50%;
background: $somon;
position: absolute;
bottom: 30px;
z-index: -1;

&:before {
    content: "";
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: $somon-d;
    position: absolute;
    bottom: 5px;
}
}

.ear-l {
left: -10px;

&:before {
    transform: translatex(8px);
}
}

.ear-r {
right: -10px;

&:before {
    transform: translatex(5px);
}
}

.eye-l,
.eye-r {
width: 30px;
height: 30px;
border-radius: 50%;
background: #fff;
position: absolute;
top: 55%;
transform: translatey(-50%);
overflow: hidden;
box-shadow: 0 0 15px -5px $somon-d;

&:after {
    content: "";
    background: $somon-d;
    height: 20%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    animation: blink 4s alternate infinite ease;
}

@keyframes blink {
    89% { height: 20%; }
    90% { height: 60%; }
    95% { height: 45%; }
    100% { height: 55%; }
}

&:before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform .3s ease;
}
}

.eye-l {
left: 30px;
}

.eye-r {
right: 30px;
}

.nose {
width: 7px;
height: 7px;
border-radius: 0 0 100px;
background: $somon-d;
position: absolute;
top: 70%;
left: 45%;
transform: translatex(-50%, -50%);
box-shadow: 10px 0 $somon-d;
}

.toy {
width: 30px;
height: 30px;
border-radius: 50%;
background: $blue;
border: 5px solid $blue-l;
position: absolute;
top: 80%;
left: 55%;
box-shadow: -1px 0 0 1px darken($blue-d, 5),-3px -3px 0 13px $blue-d;
animation: pulse .3s infinite alternate cubic-bezier(0.71, 1.87, 0.03, -0.15);
transition: left .3s ease;
}

@keyframes pulse {
100% {
    transform: scale(1.1);
}
}

p {
position: absolute;
font-size: 150px;
color: $somon-d;
top: -220px;
left: 50px;
}

span {
position: absolute;
top: -60px;
left: 50%;
transform: translatex(-50%);
width: 250%;
height: 250%;
z-index: 10;

&.triangle-t {
    clip-path: polygon(0 0, 100% 0, 50% 50%);
    
    &:hover {
    clip-path: none;
    z-index: 2;

    ~ .eye-l,
    ~ .eye-r {
        
        &:before {
        transform: translate(-50%, -80%);
        }
    }
    
    ~ .toy {
        left: 40%;
        box-shadow: 0 -3px 0 13px $blue-d;
    }
    }
}

&.triangle-r {
    clip-path: polygon(100% 0, 100% 100%, 50% 50%);
    
    &:hover {
    clip-path: none;
    z-index: 2;

    ~ .eye-l,
    ~ .eye-r {
        
        &:before {
        transform: translate(10%, -50%);
        }
    }
    }
}

&.triangle-b {
    clip-path: polygon(0 100%, 50% 50%, 100% 100%);
    
    &:hover {
    clip-path: none;
    z-index: 2;

    ~ .eye-l,
    ~ .eye-r {
        
        &:before {
        transform: translate(-50%, 10%);
        }
    }
    
    ~ .toy {
        left: 40%;
        box-shadow: 0 -3px 0 13px $blue-d;
    }
    }
}

&.triangle-l {
    clip-path: polygon(0 0, 50% 50%, 0 100%);
    
    &:hover {
    clip-path: none;
    z-index: 2;

    ~ .eye-l,
    ~ .eye-r {
        
        &:before {
        transform: translate(-100%, -50%);
        }
    }
    
    ~ .toy {
        left: 25%;
        box-shadow: 1px 0 0 1px darken($blue-d, 5), 2px -3px 0 13px $blue-d;
    }
    }
}
}

.body {
position: absolute;
width: 141px;
height: 141px;
border-radius: 100px;
background: $somon;
z-index: -1;
box-shadow: inset 0 30px rgba(#fff, .15);

&:before {
    content: "";
    background: #fff;
    height: 50%;
    position: absolute;
    border-radius: 0 0 100px 100px;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 -30px rgba(#C8E0E8, .3);
}

&:after {
    content: "";
    background: $somon-d;
    width: 8px;
    height: 5px;
    position: absolute;
    top: 30%;
    left: 35%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: 45px 0 $somon-d;
}
}

.arms,
.legs {
position: absolute;
width: 250px;
height: 40px;
background: $somon;
left: 50%;
transform: translatex(-50%);
}

.arms {
border-radius: 20px;
animation: hug 5s ease infinite alternate;
}

@keyframes hug {
20% { transform: translatex(-50%) rotate(5deg); }
40% { transform: translatex(-50%) rotate(-3deg); }
60% { transform: translatex(-50%) rotate(2deg); }
80% { transform: translatex(-50%) rotate(-4deg); }
100% { transform: translatex(-50%) rotate(2deg); }
}

.legs {
bottom: 0px;
width: 220px;
z-index: -1;
border-radius: 0 0 30px 30px;
box-shadow: inset 0 -10px rgba(#fff, 0.15);

&:before {
    content: "";
    background: $somon;
    width: 13px;
    height: 40px;
    position: absolute;
    bottom: 10px;
    left: 0;
    border-radius: 50px;
}

&:after {
    content: "";
    background: $somon;
    width: 13px;
    height: 40px;
    position: absolute;
    bottom: 10px;
    right: 0;
    border-radius: 50px;
}
}

.hand-l,
.hand-r {
background: $somon;
width: 12px;
height: 20px;
position: absolute;
top: -10px;
border-radius: 50px;

&:before {
    content: "";
    width: 20px;
    height: 12px;
    position: absolute;
    background: $somon;
    top: 15px;
    border-radius: 50px;
}

&:after {
    content: "";
    width: 20px;
    height: 12px;
    position: absolute;
    background: $somon;
    top: 30px;
    border-radius: 50px;
}
}

.hand-l {
left: 0;
box-shadow: 0px 35px $somon;

&:before {
    left: -10px;

    transform: rotate(35deg);
}

&:after {
    left: -10px;

    transform: rotate(-35deg);
}
}

.hand-r {
right: 0;
box-shadow: 0px 35px $somon;

&:before {
    right: -10px;
    transform: rotate(-35deg);
}

&:after {
    right: -10px;
    transform: rotate(35deg);
}
}

.sofia {
position: fixed;
top: 60px;
}

.marco {
position: fixed;
bottom: 60px;
}

.marco.button::before {
    left: 6px;
}

.app {
display: flex;
justify-content: center;
}

%test {
position: absolute;
    content: '';
    transition: all .5s;
}

.button { 
    display: inline-block; 
    padding: 10px 20px;
    color: white;
	font-family: 'Rubik', sans-serif;
    text-decoration: none;
    font-size: 20px;
    transition: all .5s;
    background-color: #957DAD;

    &::before {
    @extend %test;
        bottom: -8px;
        height: 8px;
        width: 100%;
        left: 4px;
        transform: skewX(45deg);
        background-color: darken(#957DAD, 20%);
    }

    &::after {
        @extend %test;
        right: -8px;
        height: 100%;
        width: 8px;
        bottom: -4px;
        transform: skewY(45deg);
        background-color: darken(#957DAD, 30%);
    }

    &:active {
        margin-left: 10px;
        margin-top: 10px;
        &::before {
            bottom: -5px;
            height: 5px;
            left: 3px;
        }
        
    &::after {
            right: -5px;
            width: 5px;
            bottom: -3px;
        }	
    }
}