@import url(https://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise);


.Padrinho {
    font-family: 'Waiting for the Sunrise', cursive; 
    display: flex;
    justify-content: center;
    flex-direction: column;

    .item-1 {
        position: absolute;
        display: block;
        top: 130px;
        width: 80%;
        font-size: 34px;
        font-weight: bold;
        animation-duration: 6.66s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-delay: 12s;
        opacity: 0;
    }

    .item-1 {
        animation-name: anim-1;
    }

    @keyframes anim-1 {
        0%, 66.66% { left: -100%; opacity: 0; }
        74.96%, 91.62% { left: 10%; opacity: 1; }
        100% { left: 10%; opacity: 1; }
    }

    .Baby .wrapper {
        top: 60%
    }

    %test {
        position: absolute;
        content: '';
        transition: all .5s;
    }
        
    .button { 
        display: inline-block; 
        padding: 10px 20px;
        color: white;
        font-family: 'Rubik', sans-serif;
        text-decoration: none;
        font-size: 20px;
        transition: all .5s;
        background-color: #957DAD;
    }

    .wrapping {
        display: flex;
        justify-content: left;
        margin-left: 38px;
        margin-right: 38px;
        margin-top: 60px;
    }
}